<template name="MovieInput">
  <form class="main form page movieadd" name="movieadd">
		<div class="form-group box">
			<!-- <label for="movieTitle">Movie Title</label> -->
			<div class="searchbox">
				<div class="search">
					<input 	id="query" name="query" class="form-control"
								type="text" placeholder="Search..." autocomplete="off" value="" />
					<button class="icon"><i class="fa fa-search"></i></button>
				</div>
				{{#if autocomplete}}
					<div class="autocomplete" >
						{{#if autocompleteLoading}}
							<div class="loading">
								{{> spinner}}
							</div>
						{{else}}
							{{#each autocomplete}}
								{{#if Error}}
									<p>{{Error}}</p>
								{{else}}
									<input type="radio" name="autocomplete" id="{{id}}" value="{{id}}"/>
									<label for="{{id}}">{{title}} <span>[{{release_date}}]</span></label>
								{{/if}}
							{{/each}}
						{{/if}}
					</div>
				{{/if}}
			</div>
		</div>

	</form>
</template>


