<template name="EventLayout">
<div class="container">
	<!-- First row containing event info and search bar -->
	<div class="row">
		<!-- Event Item Details -->
		<div class="col-md-6">
			{{#if isNotLoggedIn}}
				<!-- prompt to log in to follow event -->
				<div class="prompt jumbotron text-center">
					<h3>Log in and Accept Invitation</h3>
				</div>
				<!-- render event details for preview -->
				{{> EventItem}}
				<!-- else if logged in -->
			{{else}}
				<!-- render event details -->
				{{> EventItem}}
			{{/if}}
		</div>


		<!-- Search Movies -->
		<div class="col-md-6">
			{{#if isNotLoggedIn}}
					{{#if isNotFollowing}}
					<div class="prompt jumbotron text-center">
					  <h3>Log in and subscribe to event to input movie</h3>
					</div>
				{{/if}}
			{{else}}
				<!-- Render movie input if is following event and is logged in -->
				{{> MovieInput}}
			{{/if}}
		</div>
	</div>



		<!-- Movies -->
		<div class="row" style="margin:25px 0 25px 0;">
			{{#each movie}}
				<div class="col-md-6">
			  	{{> MovieItem}}
			  </div>
			{{/each}}
		</div>


		<!-- Movie Info Modal -->
		<!-- Will render when movie item is clicked -->
		{{> MovieItemInfo}}
		<!-- Trailer Modal -->
		<!-- Will render when trailer button is clicked -->
		{{> Trailer}}

		<!-- Separator -->
</div>
<div class="container-fluid disqus-container">
	<div class="seperator">
	</div>

	<div class="container" style="margin-top:40px; margin-bottom:40px;">
		<!-- Render chat feed if user is logged in -->
		<!-- render disqus -->
		<div class="disqus row">
			{{> Disqus}}
		</div>
	</div>
</div>

</template>
