<template name="EventLayout">

	<!-- First column -->
	<div class="col-md-6 movie-item">
		<!-- if is editing -->
		{{#if isEditing}}
			{{> EventCreate}}
		<!-- end if isEditing -->
		{{/if}}

		<!-- if not logged in -->
		{{#if isNotLoggedIn}}
			<!-- prompt to log in to follow event -->
			<div class="prompt jumbotron text-center">
				<h3>Log in and Accept Invitation</h3>
			</div>
			<!-- render event details -->
			<div class="row event-item">
				{{> EventItem}}
			</div>
			<!-- render disqus -->
			<div class="col-md-12">
				{{> Disqus}}
			</div>
		<!-- else if logged in -->
		{{else}}
			<!-- render event details -->
			<div class="row event-item">
				{{> EventItem}}
			</div>

			<!-- render disqus -->
			<div class="col-md-12">
				{{> Disqus}}
			</div>
		<!-- End if isNotLoggedIn -->
		{{/if}}
	</div>
	<!-- End first column -->


	<!-- Second Column -->
	<div class="col-md-6">
		{{#if isNotLoggedIn}}
		<!-- if not following event -->
			<!-- prompt to follow event -->
			<div class="prompt jumbotron text-center">
			  <h3>Follow Event</h3>
			</div>
			<!-- render movie items -->
			<div class="row movie-item">
			  {{#each movies}}
			    {{> MovieItem}}
			  {{/each}}
			</div>
		<!-- else if logged in -->
		{{else}}
			<!-- render movie insert -->
			<div class="row movie-input">
			  {{> MovieInput}}
			</div>
			<!-- render movie items with vote -->
			<div class="row movie-item">
			  {{#each movies}}
			    {{> MovieItem}}
			  {{/each}}
			</div>
		<!-- End if isNotLoggedIn -->
		{{/if}}
	</div>

	<!-- Movie Info Modal -->
	<!-- Will render when movie item is clicked -->
	{{> MovieItemInfo}}
</template>
