<template name="MovieItem">
		<div class="col-xs-12 movie-item">
			<!-- Image -->
			<!-- Toggle MovieItemInfo in Events layout -->
			<div class="col-xs-4 img" data-toggle="modal" data-target="#moviePoster" name="poster">
				<img class="img-responsive" src="{{posterUrl}}" alt="{{title}}">
				<button><i class="fa fa-info"></i></button>
			</div>

			<!-- Details -->
			<div class="col-xs-8 movie-details">
				<!-- Title -->
				<div class="row movie">
					<div class="title">
						<h4>{{title}}</h4>
						<span class="date">[{{release_date}}]</span>
						<span class="line-break"></span>
					</div>
					<!-- Delete button -->
					<button class="delete"><i class="fa fa-times"></i></button>
				</div>

				<!-- Ratings -->
				<div class="row rating">
					<div class="left col-xs-3">
						<h3>{{vote_average}}</h3>
						<span>Rating</span>
					</div>
					<div class="right col-xs-9">
						<!-- Star rating -->
						<input value="{{vote_average}}" id="input-id"
						type="number" class="rating" data-min="0" data-max="10" data-step="0.5" data-size="xs"
						data-readonly="true" data-show-clear="false" data-show-caption="false">
						<span class="number-votes">Based on {{vote_count}} ratings</span>
					</div>
					<span class="line-break"></span>
					<!-- End Rating -->
				</div>

				<!-- Buttons -->
				<div class="row buttons">
					<p><span>{{votes}}</span> Votes</p>

						<div data-toggle="modal" data-target="#trailer" name="poster">
							<button class="info"><i class="fa fa-angle-double-right"></i> Trailer</button>
						</div>
						<!-- Don't show upvote if movie has no event -->
						{{#if hasEvent}}
							<div class="{{hasVoted}}">
								<button class="upvote"><i class="fa fa-chevron-up"></i> Upvote</button>
							</div>
						{{else}}
							<!-- Toggle MovieItemInfo in Events layout -->
							<div data-toggle="modal" data-target="#moviePoster" name="poster">
								<button class="info"><i class="fa fa-angle-double-right"></i> More Info</button>
							</div>
						{{/if}}


			<!-- End of details -->
			</div>
		<!-- End of Movie Item -->
		</div>
		</div>

</template>


