<template name="MovieItem">
	<div class="col-xs-12 movie-item">

		<div class="col-xs-4" data-toggle="modal" data-target="#moviePoster" name="poster">
			<img class="img-responsive" src="{{posterUrl}}" alt="{{title}}">
		</div>

		<div class="col-xs-8">
			<div class="col-xs-6">
				<h5>{{title}}</h5>
				<p>{{release_date}}</p>
			</div>

			<div class="col-xs-6">
				<p><span>Rating: </span>{{vote_average}}</p>
				<p><span>Rating Count: </span>{{vote_count}}</p>
			</div>

			<div class="col-xs-12 vote">
				<p>Vote <span>{{votes}}</span></p>
			</div>

			<div class="col-xs-12 vote">
				<p>Voters <span>{{voters}}</span></p>
			</div>

			<div class="col-xs-12 wishlist">
				<p>Add to Wishlist</p>
			</div>

			<div class="col-xs-12 trailer">
				<p>Trailer</p>
			</div>

			<div class="col-xs-12 delete">
				<p>Delete</p>
			</div>

		</div>

	</div>
</template>


