body {
	#main {
		@include contrasted($body-color);
		background-color: $body-color;
		position: relative;
		min-height: 1000px;
		height: 100%;
		box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.6);
	}
	font-family: $font-combo-2-2;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-combo-2-2;
		font-weight: 600;
	}

	.container-fluid.disqus-container {
		@include contrasted($color-clouds);
	}

	.jumbotron {
		color: $font-color-dark;
		// height: 100px;
	}
	.container {
		padding-top: 20px;
		padding-bottom: 40px;
		&.movie-list-container {
			min-height: 600px;
		}
	}
	.container-fluid {
		&#event-create-list,
		&#event-item-container {
			background-color: $color-belize-hole;
			padding-top: 10px;
			padding-bottom: 20px;
		}
	}

	#footer-separator {
		background-color: #FFF;
		height: 150px;
	}

	#load-more {
		position: relative;
		background-color: $color-belize-hole;
		min-height: 220px;
		color: #FFF;
		span {
			@include center;
			font-size: 4rem;
			font-weight: 700;
			bottom: 100px;
			color: #FFF;
		}
		.load-more,
		&:active,
		&:hover {
			background-color: #FFF;
			color: $color-belize-hole;
		}
		@include keyframes(bounce) {
			0%, 20%, 50%, 80%, 100% {
		    @include transform(translateY(0));
		  }
			40% {
		    @include transform(translateY(-30px));
		  }
			60% {
		    @include transform(translateY(-15px));
		  }
		}
		.arrow {
		  @include center;
		  top: 35px;
		  margin-left:-20px;
		  background-size: contain;
		}

		.bounce {
		  @include animation(bounce 2s infinite);
		}
	}
}
