body {
	@include contrasted($body-color);
	font-family: $font-combo-1-2;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-combo-1-1;
	}

	.container-fluid.disqus-container {
		@include contrasted($color-clouds);
	}

	.jumbotron {
		color: $font-color-dark;
		// height: 100px;
	}
	.container {
		margin-top: 20px;
	}
	.container-fluid {
		&#event-create-list {
			background-color: $color-belize-hole;
			padding-top: 10px;
			padding-bottom: 20px;

		}
	}
}

