<template name="EventsLayout">


    <div class="col-md-6 event-container">
      {{#if currentUser}}
        <div class="col-md-12 event-input">
          {{> EventCreate}}
        </div>
      {{else}}
        <div class="prompt-logIn">
          <p>Please log in to add an event</p>
        </div>
      {{/if}}

      <div class="col-md-12 event-item">
        {{#each events}}
          {{> EventItem}}
        {{/each}}
      </div>
    </div>

    <div class="col-md-6 movie-item">
      {{#if currentUser}}
        <div class="row movie-input">
          {{> MovieInput}}
        </div>
      {{else}}
        <div class="prompt-logIn">
          <p>Please log in to add a movie</p>
        </div>
      {{/if}}

      <div class="row movie-item">
        {{#each movies}}
          {{> MovieItem}}
        {{/each}}
      </div>

    </div>

</template>
