$max-eventItem-width: 500px;
$min-eventItem-height: 220px;
$side-toggle-width: 100px;
$background-color: darken($color-clouds, 10%);

.row.event-list-container {
	position: relative;
	height: 100%;
	display: block;
}

.event-content {
	@include contrasted($background-color);
	@include border-radius(5px);
	max-width: $max-eventItem-width;
	min-height: $min-eventItem-height;
	padding: 20px;
	position: relative;
	padding-right: $side-toggle-width + 15px;
	margin: 10px 0 10px 0;
	border: 1px solid darken(white, 10%);
	display: block;
	&:hover,
	&:active,
	&.active-event {
		// border: 1px solid white;
		@include box-shadow(lighten(black,10%) 2px 2px 10px);
		background-color: darken($background-color, 10%);
	}
	h3 {
		margin-top: 0;
	}
	.main-content {
		// position: relative;
		// width: $max-eventItem-width - $side-toggle-width;
	}
	.side-toggle {
		width: $side-toggle-width;
		display: inline-block;
		vertical-align: middle;
		top: 0;
		right: 0;
		position: absolute;
		height: 100%;
		border-left: 1px solid darken(white, 10%);

		button {
			border: none;
			background-color: transparent;
			outline: none;
			height: calc(100% / 3);
			width: 100%;
			text-align: left;
			padding-left: 15px;

		}
		button.details {
			&:hover {
				background-color: $color-belize-hole;
			}
		}
		button.edit {
			&:hover {
				background-color: $color-wisteria;
			}
		}
		button.delete {
			&:hover {
				background-color: $color-pomegrante;
			}
		}
		button.follow {
			&:hover {
				background-color: $color-nephritis;
			}
		}
		button.unfollow {
			&:hover {
				background-color: $color-orange;
			}
		}
	}
}

.event-item {
	button.btn-style {
		@include border-radius(5px);
	}
}

