// button style carried from _common.scss
$max-width: 500px;
$button-color: darken($color-belize-hole, 20%);
.form-toggle {
  // max-width: $max-width;
  margin-top: 8px;
  margin-bottom: 8px;
  button {
    padding: 15px;
    width: 100%;
    outline: none;
    // background-color: $button-color;
    border: none;
    border-bottom: 2px solid #FFF;
    &:hover,
    &:active {
      background-color: $hover-green;
    }
    i {
      margin-left: 10px;
    }
  }
}

.event-create form {
    margin: 15px 25px;
    color: darken($color-asbestos, 20%);
    label {
      margin-bottom: 5px;
    }
    @include border-radius(5px);
}

// events_layout.html
.event-item {
  button {
    &:hover,
    &:active {
      background-color: $hover-green;
    }
  }
}

.event-input {
  button {
    @include border-radius(5px);
  }
}

#form-edit {
  position: relative;
  padding: 100px auto;
}