@import "base/all";
fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.stars {
  border: none;
  position: relative;

  input {
    display: none;
  }
  label:before {
    margin: 0 5px;
    font-family: FontAwesome;
    content: "\f005";
    display: inline-block;
    font-size: 1.25em;
  }
  .half:before {
    content: "\f089";
    position: absolute;
  }
  label {
    color: #ddd;
    float: right;
  }
  input:checked ~ label, /* show gold star when clicked */
  &:not(:checked) > label:hover , /* hover current star */
  &:not(:checked) > label:hover ~ label {
    color: $color-gold;
  }

  input:checked + label:hover, /* hover current star when changing rating */
  input:checked ~ label:hover,
  input:hover ~ input:checked ~ label, /* lighten current selection */
  input:checked ~ label:checked ~ label:hover {
    color: lighten($color-gold, 35%);
  }
}
